html
    head
        title Probando Pug 
    body 
        h1 Un encabezado con Pug!
        h2!= createdBy
        p Renderizamos dende o server o template home con express e pug
        p!= creationDate